<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
   <menu>
         <add id="ISN_Action::action"
            title="Custom Sub Menu"
            translate="title"
            module="ISN_Action"
            sortOrder="70"
            parent="Magento_Customer::customer"
            resource="ISN_Action::action" />

          <add id="ISN_Action::customeraction"
           title="Customer Action"
           module="ISN_Action"
           sortOrder="100"
           parent="ISN_Action::action"
           action="action/customeraction"
           resource="ISN_Action::customeraction"/>
 
</menu>
</config>
