<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="\Magento\Customer\Controller\Account\LoginPost">
        <plugin name="vendor_module_loginpostplugin" 
                type="ISN\CustomerGroup\Plugin\LoginPostPlugin" sortOrder="1" />
  </type> 
  <type name="Magento\Catalog\Model\Category">
        <plugin name="category_page_restrict" 
                type="ISN\CustomerGroup\Plugin\Restrictcategory" />
    </type>
</config>
